    /* * Teal color (used for headings and backgrounds): `#4aaaa5`
*/
    h1 {
        background-color: #4aaaa5;
        color: white;
        text-align: center;
        height: 56px;
        width:  340px;
        position: absolute;
        float: left;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 30px;
        margin: 0px 308px; 
        padding-top: 20px;
    }

    /* nav float to right */
    nav {
        float: right; 
        margin: 25px;
        height: 100px;
    }

    /* style navigation link index*/
   .nav-index {
       height:75px;
       width:300px;
       text-align: center;
       color: Grey;
       font-family: Georgia, 'Times New Roman', Times, serif;
       font-size: 25px;
       margin: 25px;
       padding-top: 20px;

   }
   
   /* style navigation link portfolio */
   .nav-gallery {
        height:75px;
        width:300px;
        text-align: center;
        color: Grey;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 25px;
        margin: 25px;
   }
   
   /* style navigation link contact */
   .nav-contact {
       height:75px;
       width:300px;
       text-align: center;
       color: grey;
       font-family: Georgia, 'Times New Roman', Times, serif;
       font-size:24px;
       margin:25px;
   }
    /* * Regular font color (used for paragraphs and all text besides the headings): `#777777`
   */
    h2 {
        color: #4aaaa5;
        font-size: 30px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
   

   /*Fonts: >>> COMPLETED
   * For heading fonts use `font-family: 'Georgia', Times, Times New Roman, serif;`.
   * For all other fonts use `'Arial', 'Helvetica Neue', Helvetica, sans-serif;`.  */
    
   /* Main header background color: COMPLETED
   * Main Header border color: COMPLETED */
   header {
       font-family: Georgia, 'Times New Roman', Times, serif;
       background-color:#ffffff; 
       height: 75px;
       width: 100%;
       border: 1px solid #cccccc;
       Margin: 0 auto;
   }
   body {
       font-family: Arial, Helvetica, sans-serif;
       
       margin: 0 auto;
   }

   /* 
   * Created container: COMPLETED
   * container background color: COMPLETED
   * container border: COMPLETED
   */
   .container {
       background-color: #ffffff;
       border: 1px solid #dddddd;
       width: 960px;
       margin: 0 auto;
        padding-top: 34px;
        padding-left: 38px;
        margin-top: 50px;
   }

   /* 
   * Float picture left: COMPLETED
   * Add padding: COMPLETED
    */
   .main-pic {
       float: left; 
       padding: 10px;
   }

   /* 
   * Add Padding Attribute: COMPLETED
   * Text-align: justify: COMPLETED
   * Create space between lines: COMPLETED
    */
   .am-txt {
       padding: 25px;
       text-align: justify;
       line-height: 2;
   }

   /* Pad image:  */

   .main-pic {
       padding: 10px;
   }
   /* 
   * Include clear property: 
   * Make font smaller:
   * Footer color:  
   *  */
   footer {
       clear: both;
       text-align: center;
       width: 100%;
       word-spacing: 50px;
       height: 30px;  
       background-color: #4aaaa5;
       padding-top: 9px;
    }

#karina-sec {
    width: 300px;
    height: 50px;
    background-color: #4aaaa5;
    text-align: center;
    position: absolute;
    top: 500px; 
    padding-top: 29px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
}

#lucas-sec {
    width: 300px;
    height: 50px;
    background-color: #4aaaa5;
    text-align: center;
    position: absolute;
    top: 500px; 
    right: 658px;
    padding-top: 29px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
}

#matthew-sec {
    width: 300px;
    height: 50px;
    background-color: #4aaaa5;
    text-align: center;
    position: absolute;
    top: 500px; 
    right: 354px;
    padding-top: 29px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
}

#nykin-sec {
    width: 300px;
    height: 50px;
    background-color: #4aaaa5;
    text-align: center;
    position: absolute;
    top: 825px; 
    padding-top: 29px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
}